

/*NAVBAR*/
.navlogo{
	height: 90px;
	width: 90px;
}


.navbar{
	background-color: #161e67;
	font-weight: bold;
	font-size: 25px;

}

.custom-toggler.navbar-toggler { 
            border-color: white; 
        } 


.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.nav-link{
	color: #ff5c5c;
	font-family: 'Montserrat', sans-serif;  800
}

.nav-link:hover{
	color: white;
}

form.search button{
	background-color: #ff5c5c;
	color: #f2f2f2;
}

form.search button:hover{
	background-color: #F2A22C;
	color: #f2f2f2;
}


/*NAVBAR*/
.containerHeader{
	background-color: #ff5c5c;
}

.headerbackground{
	margin-left: -120px;
	margin-top: -65px;
	height: 700px;
	border-top-right-radius: 100%; 
	border-bottom-right-radius:100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../images/jellytoast.jpg');
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	text-align: center;
}

.introText{
	
	margin-top: 250px;
}

.headerImage{
	border-top-right-radius: 50%; 
	border-bottom-right-radius:50%;
	border-top-left-radius: 50%; 
	border-bottom-left-radius:50%;
	height: 250px;

}

.columnHeader{
	margin-left: 100px;
	margin-top: 50px;
	
}

.backgroundcolor{
	background-color: #161e67;
}

.headertext{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*min-height: 700px;*/
}

button.headerButton{
	font-weight: bold;
	border-radius: 8%;
	border-color: #161e67;
	background-color: white;
	color: #161e67;
}

.owners{
	display: flex;
	height: 200px;
	width: 200px;
}

.intro{
	color: white;
	font-family: 'Montserrat', sans-serif; 
	/*text-shadow: 3px 3px 8px #161e67;*/
	/*font-size: 60px*/

	font-weight: 800;
  	/*color: #ff5c5c;*/
  	font-size: 4em;
  	text-shadow: 2px 5px #161e67;
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 3s ease-out 1s both;
	        animation: jello-horizontal 3s ease-out 1s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.intro1{
	color: #ff5c5c;
	font-size: 40px;
	
}

.headertext1{
	display: flex;
	justify-content: center;
	padding: 30px;	
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;  800;
}

.mainLogo{
	height: 250px;
	width: 250px;
}

.bestSelling h2{
	font-weight: 600;
	text-align: center;
	padding-bottom: 30px;
}

.bestJam{
	font-family: 'Montserrat', sans-serif;
	color: #ff5c5c;
	background-color: #161e67;
	padding: 80px 80px;
}

.jams{
	box-shadow: 0px 0px 20px rgb(233,94,94);
}

.card-title a {
	color: #ff5c5c;
	font-weight: bold;
}

.card-text2{
	color: #ff5c5c;
	font-size: 10pt;
	padding-top: 20px;

}

/*.card-deck{
	display: flex;
	justify-content: space-between;
}*/

.line{
	background-color: #161e67;
}

/*Carousel*/
.carousel-inner{
	display: flex;
	
	align-items: center;
	height: 300px;
	width: 300px;
}

.carousel-item{

}

#myCarousel{
	margin: 50px 50px;
	
}

.content{
	justify-content: center;
	align-items: center; 
	text-align: center;
}


.slideTextArea{
	margin:20px 20px;
	width: 40%; 
	padding-left: 2%;
}

.slideText{
	font-style: italic;
}

.slider{
		
		height: 150px;
		width: 150px;
		border-radius:100%; 

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}








/*Footer CSS*/
.footerLogo2{
	display: flex;
	/*justify-content: center;*/
	height: 115px;
	width: 115px;
	margin-top: 35px;
	/*padding-top: 20px;*/
}

.footer-row{
	background-color: #161e67;
	font-weight: bold;
	/*font-size: 25px;*/
}

.footerText{
	color: #ff5c5c;
	font-family: 'Montserrat', sans-serif;  800;
	
}

.footer-row{
	display: flex;
	justify-content: space-between;
}

.adress{
	padding: 10px;
	line-height: 1.25em;	
}

.location{
	line-height: .8em;
}

.item1{
	padding-top: 40px;
}

.fa {
    padding: 5px 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
      opacity: 0.7;
  }


/*Footer CSS*/